<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.kg.mapper.FlightMapper">
  
	<!-- 항공사 추가 -->
	<insert id="airlineInsert">
		INSERT INTO k_airline_tbl(air_idx, air_code, air_name, c_type) VALUES (k_airline_tbl_seq.nextval, #{air_code}, #{air_name}, 100)
	</insert>
	
	<!-- 항공편 추가 -->
	<insert id="flightInsert">
		INSERT INTO k_flight_tbl(flight_name, flight_people) VALUES (#{flight_name}, #{flight_people})
	</insert>
  
  	<!-- 좌석 추가 -->
	<insert id="seatInsert">
		INSERT INTO k_seat_tbl(seat_idx, flight_name, seat_grade, seat_name, seat_price) VALUES (k_seat_tbl_seq.nextval, #{flight_name}, #{seat_grade}, #{seat_name}, #{seat_price})
	</insert>
	
	<!-- 일정 추가 -->
	<insert id="scheduleInsert">
		INSERT INTO 
			k_schedule_tbl(date_idx, flight_name, air_idx, start_date, boarding_time, depart_time, arrive_time, ap_idx_s, ap_idx_d) 
		VALUES
			(k_schedule_tbl_seq.nextval, #{flight_name}, #{air_idx}, #{start_date}, sysdate, sysdate, sysdate, #{ap_idx_s}, #{ap_idx_d})
	</insert>
	
	<!-- 항공편 조회 -->
	<select id="flightList" resultType="org.kg.domain.K_flightVO">
		SELECT * FROM k_flight_tbl
	</select>
	
	<!-- 공항 조회 -->
	<select id="airportList" resultType="org.kg.domain.K_airportVO">
		SELECT * FROM k_airport_tbl
	</select>
	
	<!-- 항공사 조회 -->
	<select id="airlineList" resultType="org.kg.domain.K_airlineVO">
		SELECT * FROM k_airline_tbl
	</select>
	
</mapper>